body {
  margin: 0px;
}

* {
  box-sizing: border-box;
}
.menu,
.nav-bar {
  width: 100%;
  display: flex;
  position: fixed;
  top: 0;
  z-index: 2;
}
.menu {
  display: none;
}

li:nth-of-type(1) {
  padding-left: 0%;
}
.menu-scroll {
  width: 100%;
  position: relative;
  display: inline-block;
  top: 0;
  font-size: 2rem;
  color: white;

  background-color: black;
}

.fa-apple {
  width: 3%;
  padding-left: 47%;
  margin: 0 auto;
}
.fa-apple,
.fa-briefcase {
  color: white;
  opacity: 0.6;
}
.fa-briefcase {
  float: right;

  margin-right: 1em;
}
.fa-apple:hover,
.fa-briefcase:hover {
  opacity: 0.9;
}
.menu-links li a:hover {
  opacity: 0.9;
}
.hamburger {
  position: fixed;
  top: 0;
  left: 0;
  margin-top: 0;
  margin-left: 0;
  color: rgb(197, 192, 192);
  font-size: 1.5rem;
  padding: 0.5rem;
  font-family: Arial, Helvetica, sans-serif;
  z-index: 2;

  cursor: pointer;
}
.hamburger:hover {
  opacity: 0.6;
}

#nav-toggle {
  display: none;
}
#nav-toggle:checked ~ .menu {
  display: flex;
}
.menu-links {
  width: 100%;
  display: flex;
  margin: 0 auto;
  padding: 0% 10%;

  justify-content: flex-start;
  align-items: flex-start;
  flex-flow: column wrap;
  color: white;
  background-color: black;
}
.menu-links ul {
  width: 80%;
  margin: 0 auto;
}
.menu-links li {
  width: 100%;
  list-style-type: none;
  margin-left: 1rem;
  cursor: pointer;
}

.menu-links li a {
  width: 100%;

  padding: 0.8em 0em;
  text-decoration: none;
  display: block;
  font-size: 0.9rem;
  font-weight: 100;
  color: white;
  border-bottom: 1px solid rgb(92, 91, 91);

  font-family: Arial, Helvetica, sans-serif;
}

.buy-iphone {
  width: 100%;
}
.buy-iphone img {
  width: 100%;
}
.headline {
  clear: both;
  display: block;
  text-decoration: center;
  margin: 2% 25%;
  padding-top: 1%;
  color: black;
}
@media only screen and (min-width: 800px) {
  .menu,
  .nav-bar {
    display: flex;
  }
  .hamburger {
    display: none;
  }

  .menu-links {
    justify-content: space-between;
    flex-flow: row wrap;
  }
  .menu-links li a {
    font-size: 1.3rem;
    border-bottom: none;
    opacity: 0.6;
  }
  .menu-links li:nth-of-type(1) {
    text-align: left;
  }
  .menu-links li {
    width: auto;
    display: inline;
    margin: auto;
  }
}
